*.pyc
__pycache__

# testing
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

.DS_Store
.idea/

# data
*.csv
*.npy
data/*.zip*
*.nc
*.grib
*.idx
scripts/*.png
scripts/variables.txt
data/*
data*

.ipynb_checkpoints

*.out
data/raw/*
data/analysis/*
data/interim/*
data/features/*
data/models/*
data/gcloud*

Code
scripts/variables*.txt
scripts/drafts/cookies.py
switch_data_dirs.sh

# pytest coverage files
.coverage*

# random python stuff
core.python*
core.ipython*

# vscode settings
.vscode
# vscode options
settings.json

# lightning
events.*
lightning_logs