*.pyc
__pycache__

# testing
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

.DS_Store
.idea/

# data
*.csv
*.npy
data/*.zip*
*.nc
*.grib
*.idx
*.pkl
scripts/*.png
scripts/variables.txt
data/*

.ipynb_checkpoints

*.out
data/raw/*
data/analysis/*
data/interim/*
data/features/*
data/models/*
Code
scripts/variables*.txt

switch_data_dirs.sh

# pytest coverage files
.coverage*

# random python stuff
core.python*

# vscode settings
.vscode
# vscode options
settings.json

